body {
  margin: 0;
  font-family: "Inter";
}
/* header */
header {
  background-color: rgba(245, 245, 247, 0.8);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.header-logo {
  width: 30px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  display: flex;
  gap: 24px;
}
.header-nav .item {
  font-size: 12px;
  line-height: 44px;
  letter-spacing: -0.28px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.header-buttons {
  display: flex;
  gap: 24px;
}
.header-buttons .btn {
  width: 30px;
  height: 44px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-buttons .btn-menu {
  display: none;
}
@media (max-width: 768px) {
  /* header */
  header {
    gap: 0;
    justify-content: space-between;
  }
  .header-logo {
    width: 49px;
    height: 48px;
  }
  .header-nav {
    display: none;
  }
  .header-buttons {
    gap: 0;
  }
  .header-buttons .btn {
    width: 48px;
    height: 48px;
  }
  .header-buttons .btn-menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* banner */
.banner {
  background-color: rgba(255, 255, 255, 1);
}
.banner__text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(29, 29, 31, 1);
  padding: 16px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* banner */
  .banner__text {
    padding: 16px 162px;
  }
}
@media (max-width: 390px) {
  /* banner */
  .banner__text {
    padding: 6.5px 31px;
    margin-bottom: 12px;
  }
}
/* iPhone 16 Pro */
.iphone16pro {
  background-image: url(images/iphone16pro.png);
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
  box-sizing: border-box;
  color: rgba(245, 245, 247, 1);
}
.iphone16pro__title {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.iphone16pro__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.iphone16pro__buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.iphone16pro__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 12px 20px;
  border-radius: 22px;
  border: 1px solid transparent;
}
.iphone16pro__buttons .btn--major {
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.iphone16pro__buttons .btn--minor {
  background-color: transparent;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
}
@media (max-width: 768px) {
  /* iPhone 16 Pro */
  .iphone16pro {
    background-image: url(images/iphone16pro.pad.png);
    height: 650px;
    padding-top: 58px;
  }
  .iphone16pro__title {
    font-size: 42px;
    letter-spacing: 0;
    margin-bottom: 4px;
  }
  .iphone16pro__subtitle {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
@media (max-width: 390px) {
  /* iPhone 16 Pro */
  .iphone16pro {
    background-image: url(images/iphone16pro.mob.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 36px;
  }
  .iphone16pro__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  .iphone16pro__subtitle {
    font-size: 18px;
    line-height: 120%;
  }
  .iphone16pro__buttons {
    gap: 12px;
  }
  .iphone16pro__buttons .btn {
    font-size: 14px;
    letter-spacing: 0;
    padding: 8px 16px;
    border-radius: 18px;
  }
}
/* iPhone 16 */
.iphone16 {
  background-image: url(images/iphone16.png);
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
  margin-top: 12px;
  box-sizing: border-box;
  color: rgba(245, 245, 247, 1);
}
.iphone16__title {
  font-size: 52px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.28px;
  margin-bottom: 16px;
}
.iphone16__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.iphone16__buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.iphone16__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 20px;
}
.iphone16__buttons .btn--major {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
.iphone16__buttons .btn--minor {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 768px) {
  /* iPhone 16 */
  .iphone16 {
    background-image: url(images/iphone16.pad.png);
    height: 650px;
    padding-top: 58px;
  }
  .iphone16__title {
    font-size: 42px;
    margin-bottom: 4px;
    letter-spacing: 0;
  }
  .iphone16__subtitle {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
@media (max-width: 390px) {
  /* iPhone 16 */
  .iphone16 {
    background-image: url(images/iphone16.mob.png);
    height: 500px;
    padding-top: 36px;
  }
  .iphone16__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  .iphone16__subtitle {
    font-size: 18px;
    line-height: 120%;
  }
  .iphone16__buttons {
    gap: 12px;
  }
  .iphone16__buttons .btn {
    font-size: 14px;
    letter-spacing: 0;
    border-radius: 18px;
    padding: 8px 16px;
  }
}
/* Gift */
.giftmagic {
  background-image: url(images/giftmagic.png);
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 82px;
  box-sizing: border-box;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin-top: 12px;
}
.giftmagic__title {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  font-weight: 600;
  margin-bottom: 12px;
}
.giftmagic__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.giftmagic__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 12px 20px;
  border-radius: 22px;
  border: 1px solid transparent;
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 768px) {
  .giftmagic {
    display: none;
  }
}
/* Apple Products */
.a-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  padding: 0 12px;
  box-sizing: border-box;
}
.a-product {
  width: calc(50% - 6px);
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 58px;
  color: rgba(29, 29, 31, 1);
  box-sizing: border-box;
}
.a-product--ipadair {
  background-image: url(images/prod-ipadair.png);
  position: relative;
}
.a-product--airpodspro2 {
  background-image: url(images/prod-airpodspro2.png);
  color: rgba(245, 245, 247, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 58px;
}
.a-product--watch {
  background-image: url(images/prod-watch.png);
}
.a-product--macbookair {
  background-image: url(images/prod-macbookair.png);
  padding-top: 48px;
}
.a-product--airpods4,
.a-product--smallbusiness,
.a-product--carrierdeals {
  display: none;
}
.a-product--tradein {
  background-image: url(images/prod-tradein.png);
}
.a-product--card {
  background-image: url(images/prod-card.png);
}
.a-product__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}
.a-product--ipadair .a-product__title {
  height: 33px;
  background-image: url(images/prod-title-ipadair.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 9px;
}
.a-product--airpodspro2 .a-product__title,
.a-product--macbookair .a-product__title {
  margin-bottom: 2px;
}
.a-product--watch .a-product__title,
.a-product--tradein .a-product__title,
.a-product--card .a-product__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 1);
}
.a-product--watch .a-product__title::before,
.a-product--tradein .a-product__title::before,
.a-product--card .a-product__title::before {
  height: 32px;
  aspect-ratio: 26.35/32;
  content: "";
  background-image: url(images/prod-title-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 7px;
}
.a-product--watch .a-product__midtitle {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 4px;
}
.a-product__subtitle {
  font-size: 18px;
  line-height: 25px;
}
.a-product--ipadair .a-product__subtitle {
  margin-bottom: 20px;
}
.a-product--airpodspro2 .a-product__subtitle,
.a-product--macbookair .a-product__subtitle {
  margin-bottom: 10px;
}
.a-product--watch .a-product__subtitle,
.a-product--tradein .a-product__subtitle,
.a-product--card .a-product__subtitle {
  margin-bottom: 16px;
}
.a-product__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.a-product__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid transparent;
}
.a-product__buttons .btn--major {
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.a-product__buttons .btn--minor {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  border: 1px solid rgba(41, 151, 255, 1);
}
.a-product--ipadair .a-product__aisub {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  background: linear-gradient(
    94deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1),
    rgba(245, 86, 0, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
  position: absolute;
  bottom: 53px;
  left: 0;
  right: 0;
}
@media (max-width: 768px) {
  .a-product {
    height: 490px;
  }
  .a-product--ipadair {
    width: 100%;
    height: 650px;
    background-image: url(images/prod-ipadair-pad.png);
  }
  .a-product--airpodspro2,
  .a-product--card {
    display: none;
  }
  .a-product--airpods4 {
    display: block;
    background-image: url(images/prod-airpods4-pad.png);
    color: rgba(245, 245, 247, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 42px;
  }
  .a-product--watch {
    background-image: url(images/prod-watch-pad.png);
    padding-top: 46px;
  }
  .a-product--macbookair {
    background-image: url(images/prod-macbook-pad.png);
    padding-top: 42px;
  }
  .a-product--smallbusiness {
    display: block;
    background-image: url(images/prod-smallbusiness-pad.png);
    padding-top: 42px;
  }
  .a-product--carrierdeals {
    display: block;
    background-image: url(images/prod-carrierdeals-pad.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 42px;
  }
  .a-product--tradein {
    background-image: url(images/prod-tradein-pad.png);
    padding-top: 46px;
  }
  .a-product__title {
    font-weight: 700;
  }
  .a-product--ipadair .a-product__title {
    height: 39px;
    margin-bottom: 8px;
  }
  .a-product--airpods4 .a-product__title,
  .a-product--macbookair .a-product__title,
  .a-product--smallbusiness .a-product__title,
  .a-product--carrierdeals .a-product__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 4px;
  }
  .a-product--watch .a-product__title,
  .a-product--tradein .a-product__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 4px;
  }
  .a-product--watch .a-product__title::before,
  .a-product--tradein .a-product__title::before {
    height: 27px;
    aspect-ratio: 22/27;
  }
  .a-product--watch .a-product__midtitle {
    font-size: 13px;
    line-height: 16px;
  }
  .a-product--airpods4 .a-product__subtitle,
  .a-product--macbookair .a-product__subtitle,
  .a-product--smallbusiness .a-product__subtitle,
  .a-product--carrierdeals .a-product__subtitle,
  .a-product--tradein .a-product__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .a-product--ipadair .a-product__subtitle {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .a-product--watch .a-product__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
  }
  .a-product__buttons {
    gap: 12px;
  }
  .a-product--ipadair .a-product__buttons {
    gap: 16px;
  }
  .a-product--ipadair .a-product__buttons .btn {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    border-radius: 22px;
    letter-spacing: -0.37px;
  }
  .a-product__buttons .btn {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 8px 16px;
    border-radius: 18px;
  }
  .a-product__aisub {
    font-size: 20px;
    line-height: 24px;
    bottom: 62px;
    left: 0;
    right: 0;
  }
}
@media (max-width: 390px) {
  .a-products {
    padding: 0;
  }
  .a-product {
    width: 100%;
    height: 500px;
  }
  .a-product--ipadair {
    background-image: url(images/prod-ipadair-mob.png);
    padding-top: 36px;
    margin-bottom: 22px;
  }
  .a-product--airpods4 {
    background-image: url(images/prod-airpods4-mob.png);
    padding-bottom: 54px;
  }
  .a-product--watch {
    background-image: url(images/prod-watch-mob.png);
  }
  .a-product--macbookair {
    background-image: url(images/prod-macbook-mob.png);
  }
  .a-product--smallbusiness {
    background-image: url(images/prod-smallbusiness-mob.png);
    padding-top: 47px;
  }
  .a-product--carrierdeals {
    background-image: url(images/prod-carrierdeals-mob.png);
    padding-bottom: 47px;
  }
  .a-product--tradein {
    background-image: url(images/prod-tradein-mob.png);
    padding-top: 51px;
  }
  .a-product--ipadair .a-product__title {
    height: 41.86px;
  }
  .a-product--airpods4 .a-product__title {
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .a-product--ipadair .a-product__subtitle {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .a-product--airpods4 .a-product__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .a-product--watch .a-product__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
  }
  .a-product--macbookair .a-product__subtitle,
  .a-product--smallbusiness .a-product__subtitle,
  .a-product--carrierdeals .a-product__subtitle,
  .a-product--tradein .a-product__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .a-product--ipadair .a-product__buttons {
    gap: 12px;
  }
  .a-product--ipadair .a-product__buttons .btn {
    font-size: 14px;
    line-height: 20px;
    border-radius: 18px;
    padding: 8px 16px;
    letter-spacing: 0;
    border: 1px solid transparent;
  }
  .a-product--ipadair .a-product__buttons .btn--minor {
    background-color: transparent;
    color: rgba(41, 151, 255, 1);
    border: 1px solid rgba(41, 151, 255, 1);
  }
  .a-product__aisub {
    font-size: 14px;
    line-height: 18px;
    bottom: 36px;
    left: 0;
    right: 0;
  }
}
/* endees urgeljluulej */
/* endees urgeljluulej */
/* series nemehhhhhh */
/* endees urgeljluulej */

/* apple tv scroll */
.tv-scroller {
  max-width: 1920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 12px;
}
.tv-slides-container {
  width: 100%;
  overflow-x: scroll;
}
.tv-slides {
  width: 6314px;
  display: flex;
  column-gap: 16px;
}
.tv-slide {
  width: 1250px;
  height: 668px;
  position: relative;
}
.tv-slide__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 1250/668;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.tv-slide__text {
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;
  bottom: 58px;
  left: 70px;
}
.tv-slide__button {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.37px;
  color: rgba(0, 0, 0, 1);
  padding: 12px 20px;
  background-color: rgba(245, 245, 247, 1);
  border-radius: 22px;
  border: none;
}
.tv-slide__button:hover {
  background-color: rgb(255 255 255);
}
.tv-slide-text__info {
  font-size: 17px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.tv-slide-text__info span {
  font-weight: 700;
}
.tv-dot-box {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin: 12px auto;
}
.tv-dot-box .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.42);
  transition: 100ms linear;
}
.tv-dot-box .dot:hover {
  background-color: rgba(0, 0, 0, 0.54);
}
.tv-dot-box .dot:active {
  background-color: rgba(0, 0, 0, 0.8);
}
/* apple content scroll */
.content-scroller {
  max-width: 1920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.content-slides-container {
  width: 100%;
  overflow-x: scroll;
}
.content-slides {
  width: 3015px;
  display: flex;
  gap: 16px;
}
.content-slide {
  width: 417px;
  height: 236px;
  position: relative;
}
.content-slide__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 417/236;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content-slide__title {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  bottom: 20px;
  left: 15px;
}
.content-slide__title--randb {
  top: 109px;
  left: 226px;
}
.content-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: rgba(210, 210, 215, 1);
  margin: 16px;
  display: flex;
  justify-self: flex-end;
  align-items: center;
}
.content-button::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(images/cont-button-icon.png);
  background-repeat: no-repeat;
  background-size: auto;
}

@media (max-width: 390px) {
  /* banner */

  /* iPhone 16 Pro */
}
