body {
  margin: 0;
  font-family: "Inter";
}
/* header */
header {
  max-width: 1920px;
  background-color: rgba(245, 245, 247, 0.8);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.header-logo {
  width: 30px;
  height: 44px;
  background-image: url(image-store/header-logo.png);
  background-size: cover;
}
.header-nav {
  display: flex;
  gap: 24px;
}
.header-nav__item {
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.header-nav__item:hover {
  color: rgba(0, 0, 0, 1);
}
.header-button {
  width: 30px;
  height: 44px;
  border: none;
  background-color: transparent;
  background-size: cover;
}
.header-button--search {
  background-image: url(image-store/header-search.png);
}
.header-button--bag {
  background-image: url(image-store/header-bag.png);
}
/* banner */
.banner {
  background-color: rgba(255, 255, 255, 1);
  margin: 20px auto;
  max-width: 1920px;
}
.banner__text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(29, 29, 31, 1);
  text-align: center;
}
/* blurred background */
.blurred-background {
  max-width: 1920px;
  height: 75px;
  margin: 0 auto;
  background-image: url(image-store/blurred-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* store head */
.store-heads-container {
  max-width: 1920px;
  background-color: rgba(245, 245, 247, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 80px 140px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.store-heads {
  display: flex;
  gap: 32px;
}
.store-head {
  font-size: 44px;
  line-height: 52.01px;
  font-weight: 700;
}
.store-head--heading {
  background: linear-gradient(
    49deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.store-head--subheading {
  color: rgba(110, 110, 115, 1);
}
.head-questions {
}
.question {
  display: flex;
  gap: 16px;
}
.question--shop-help {
  margin-bottom: 16px;
}
.question__icon {
  width: 35px;
  height: 35px;
  background-image: url(image-store/head-Q-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.question__text {
  width: 175px;
}
.question__text .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
  margin-bottom: 4px;
}
.question__text .content {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 102, 204, 1);
  display: flex;
  gap: 4px;
  align-items: center;
}
.question__text .content::after {
  width: 6px;
  height: 14px;
  content: "";
  background-image: url(image-store/head-Q-vector.png);
  display: block;
}
.question__text .content:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

/* product categories new */
.product-categories-container {
  background-color: rgba(245, 245, 247, 1);
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 140px;
  box-sizing: border-box;
}
.product-categories {
  display: flex;
  gap: 12px;
}
.category {
  width: 136px;
  height: 146px;
  padding: 16px 8px;
  box-sizing: border-box;
  text-align: center;
}
.category__imgbox {
  width: 120px;
  height: 78px;
  position: relative;
}
.category-img {
  aspect-ratio: 120/78;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.categoty__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
  margin-top: 16px;
}
.categoty__title:hover {
  text-decoration: underline;
}
/* Latest */
.latest-container {
  background-color: rgba(245, 245, 247, 1);
  max-width: 1920px;
  margin: 0 auto;
  padding: 60px 0;
  padding-left: 140px;
  box-sizing: border-box;
}
.latest-heads {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.latest-head {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.latest-head--heading {
  background: linear-gradient(
    49deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.latest-head--subheading {
  color: rgba(110, 110, 115, 1);
}
.latest-scroller {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.latest-cards {
  width: 2980px;
  display: flex;
  gap: 20px;
}
.latest-card {
  width: 480px;
  height: 500px;
  position: relative;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.latest-card__img {
  aspect-ratio: 480/500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.latest-card-text {
  position: absolute;
  top: 30px;
  left: 30px;
}
.latest-card__addinfo {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(182, 68, 0, 1);
}
.latest-card__addinfo--watchseries10,
.latest-card__addinfo--watchultra2 {
  color: transparent;
}
.latest-card__name {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
  margin-top: 9px;
  margin-bottom: 12px;
}
.latest-card__price {
  font-size: 18px;
  line-height: 20px;
  color: rgba(29, 29, 31, 1);
}
.latest-card__name--watchultra2,
.latest-card__slogan--watchultra2,
.latest-card__price--watchultra2 {
  color: rgb(255 255 255);
}
.latest-card__slogan {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 9px;
}
/* Personalization */
.personalization-container {
  background-color: rgba(245, 245, 247, 1);
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 140px;
  box-sizing: border-box;
}
.personalization-heads {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.personalization-head {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.personalization-head--heading {
  background: linear-gradient(
    49deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.personalization-head--subheading {
  color: rgba(110, 110, 115, 1);
}
.personalization-cards-scroller {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.personalization-cards {
  width: 2398px;
  display: flex;
  gap: 20px;
}
.personalization-card-first {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
}
.personalization-card-first__img {
  border-radius: 18px;
  aspect-ratio: 400/500;
  object-fit: cover;
}
.personalization-card-first__title {
  font-size: 26px;
  height: 32px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
  position: absolute;
  top: 53px;
  left: 30px;
  width: 197px;
}
.personalization-card {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0 28px;
  padding-top: 71px;
  padding-bottom: 32px;
  box-sizing: border-box;
}
.personalization-card-imgbox {
  width: 230px;
  height: 230px;
  position: relative;
  margin: 0 auto;
}
.personalization-card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}
.personalization-card--airpods-max .personalization-card-colorbox {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 21px;
}
.personalization-card--airpods-max .personalization-card__color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(235, 183, 153, 1);
}
.personalization-card-text {
  margin-top: 58px;
}
.personalization-card--airpods-max .personalization-card-text {
  margin: 0;
}
.personalization-card__option {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(182, 68, 0, 1);
}
.personalization-card__name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
  margin-top: 6px;
  margin-bottom: 52px;
}
.personalization-card--airpods-4 .personalization-card__name {
  margin-bottom: 32px;
}
.personalization-card__price {
  font-size: 14px;
  line-height: 18px;
  color: rgba(29, 29, 31, 1);
}
