body {
  margin: 0;
  font-family: "Inter";
}
main.home {
  max-width: 1920px;
  margin: 0 auto;
}
/* header */
header {
  background-color: rgba(245, 245, 247, 0.8);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-logo {
  width: 30px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  display: flex;
  gap: 24px;
}
.header-nav .item {
  font-size: 12px;
  line-height: 44px;
  letter-spacing: -0.28px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.header-nav .item:hover {
  color: rgba(0, 0, 0, 1);
}
.header-buttons {
  display: flex;
  gap: 24px;
}
.header-buttons .btn {
  width: 30px;
  height: 44px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-buttons .btn-menu {
  display: none;
}
@media (max-width: 768px) {
  /* header */
  header {
    gap: 0;
    justify-content: space-between;
  }
  .header-logo {
    width: 49px;
    height: 48px;
  }
  .header-nav {
    display: none;
  }
  .header-buttons {
    gap: 0;
  }
  .header-buttons .btn {
    width: 48px;
    height: 48px;
  }
  .header-buttons .btn-menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* banner */
.banner {
  background-color: rgba(255, 255, 255, 1);
}
.banner__text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(29, 29, 31, 1);
  padding: 16px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* banner */
  .banner__text {
    padding: 16px 162px;
  }
}
@media (max-width: 390px) {
  /* banner */
  .banner__text {
    padding: 6.5px 31px;
    margin-bottom: 12px;
  }
}
/* iPhone 16 Pro */
.iphone16pro {
  background-image: url(images/iphone16pro.png);
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
  box-sizing: border-box;
  color: rgba(245, 245, 247, 1);
}
.iphone16pro__title {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.iphone16pro__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.iphone16pro__buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.iphone16pro__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 12px 20px;
  border-radius: 22px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.iphone16pro__buttons .btn--major {
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.iphone16pro__buttons .btn--major:hover {
  background-color: rgb(0 119 237);
}
.iphone16pro__buttons .btn--minor {
  background-color: transparent;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
}
.iphone16pro__buttons .btn--minor:hover {
  background-color: rgb(0 119 237);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(0 119 237);
}
@media (max-width: 768px) {
  /* iPhone 16 Pro */
  .iphone16pro {
    background-image: url(images/iphone16pro.pad.png);
    height: 650px;
    padding-top: 58px;
  }
  .iphone16pro__title {
    font-size: 42px;
    letter-spacing: 0;
    margin-bottom: 4px;
  }
  .iphone16pro__subtitle {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
@media (max-width: 390px) {
  /* iPhone 16 Pro */
  .iphone16pro {
    background-image: url(images/iphone16pro.mob.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 36px;
  }
  .iphone16pro__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  .iphone16pro__subtitle {
    font-size: 18px;
    line-height: 120%;
  }
  .iphone16pro__buttons {
    gap: 12px;
  }
  .iphone16pro__buttons .btn {
    font-size: 14px;
    letter-spacing: 0;
    padding: 8px 16px;
    border-radius: 18px;
  }
}
/* iPhone 16 */
.iphone16 {
  background-image: url(images/iphone16.png);
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
  margin-top: 12px;
  box-sizing: border-box;
  color: rgba(245, 245, 247, 1);
}
.iphone16__title {
  font-size: 52px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.28px;
  margin-bottom: 16px;
}
.iphone16__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.iphone16__buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.iphone16__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 20px;
}
.iphone16__buttons .btn--major {
  background-color: rgb(245 245 247);
  color: rgba(0, 0, 0, 1);
}
.iphone16__buttons .btn--major:hover {
  background-color: rgba(255, 255, 255, 1);
}
.iphone16__buttons .btn--minor {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}
.iphone16__buttons .btn--minor:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
@media (max-width: 768px) {
  /* iPhone 16 */
  .iphone16 {
    background-image: url(images/iphone16.pad.png);
    height: 650px;
    padding-top: 58px;
  }
  .iphone16__title {
    font-size: 42px;
    margin-bottom: 4px;
    letter-spacing: 0;
  }
  .iphone16__subtitle {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
@media (max-width: 390px) {
  /* iPhone 16 */
  .iphone16 {
    background-image: url(images/iphone16.mob.png);
    height: 500px;
    padding-top: 36px;
  }
  .iphone16__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  .iphone16__subtitle {
    font-size: 18px;
    line-height: 120%;
  }
  .iphone16__buttons {
    gap: 12px;
  }
  .iphone16__buttons .btn {
    font-size: 14px;
    letter-spacing: 0;
    border-radius: 18px;
    padding: 8px 16px;
  }
}
/* Gift */
.giftmagic {
  background-image: url(images/giftmagic.png);
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 82px;
  box-sizing: border-box;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin-top: 12px;
}
.giftmagic__title {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  font-weight: 600;
  margin-bottom: 12px;
}
.giftmagic__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.giftmagic__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 12px 20px;
  border-radius: 22px;
  border: 1px solid transparent;
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.giftmagic__buttons .btn:hover {
  background-color: rgb(0 119 237);
}
@media (max-width: 768px) {
  /* Gift */
  .giftmagic {
    display: none;
  }
}
/* Apple Products */
.a-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  padding: 0 12px;
  box-sizing: border-box;
}
.a-product {
  width: calc(50% - 6px);
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 58px;
  color: rgba(29, 29, 31, 1);
  box-sizing: border-box;
}
.a-product--ipadair {
  background-image: url(images/prod-ipadair.png);
  position: relative;
}
.a-product--airpodspro2 {
  background-image: url(images/prod-airpodspro2.png);
  color: rgba(245, 245, 247, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 58px;
}
.a-product--watch {
  background-image: url(images/prod-watch.png);
}
.a-product--macbookair {
  background-image: url(images/prod-macbookair.png);
  padding-top: 48px;
}
.a-product--airpods4,
.a-product--smallbusiness,
.a-product--carrierdeals {
  display: none;
}
.a-product--tradein {
  background-image: url(images/prod-tradein.png);
}
.a-product--card {
  background-image: url(images/prod-card.png);
}
.a-product__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}
.a-product--ipadair .a-product__title {
  height: 33px;
  background-image: url(images/prod-title-ipadair.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 9px;
}
.a-product--airpodspro2 .a-product__title,
.a-product--macbookair .a-product__title {
  margin-bottom: 2px;
}
.a-product--watch .a-product__title {
  text-transform: uppercase;
}
.a-product--watch .a-product__title,
.a-product--tradein .a-product__title,
.a-product--card .a-product__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 1);
}
.a-product--watch .a-product__title::before,
.a-product--tradein .a-product__title::before,
.a-product--card .a-product__title::before {
  content: "";
  width: 26.35px;
  height: 30px;
  aspect-ratio: 26.35/32;
  background-image: url(images/prod-title-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 8px;
}
.a-product--watch .a-product__midtitle {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 4px;
}
.a-product__subtitle {
  font-size: 18px;
  line-height: 25px;
}
.a-product--ipadair .a-product__subtitle {
  margin-bottom: 20px;
}
.a-product--airpodspro2 .a-product__subtitle,
.a-product--macbookair .a-product__subtitle {
  margin-bottom: 10px;
}
.a-product--watch .a-product__subtitle,
.a-product--tradein .a-product__subtitle,
.a-product--card .a-product__subtitle {
  margin-bottom: 16px;
}
.a-product__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.a-product__buttons .btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid transparent;
}
.a-product__buttons .btn--major {
  background-color: rgba(0, 113, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.a-product__buttons .btn--major:hover {
  background-color: rgb(0 119 237);
}
.a-product__buttons .btn--minor {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  border: 1px solid rgba(41, 151, 255, 1);
}
.a-product__buttons .btn--minor:hover {
  background-color: rgb(0 119 237);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(0 119 237);
}
.a-product--ipadair .a-product__aisub {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  background: linear-gradient(
    94deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1),
    rgba(245, 86, 0, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin-top: 324px;
}
@media (max-width: 768px) {
  /* Apple Products */
  .a-product {
    height: 490px;
  }
  .a-product--ipadair {
    width: 100%;
    height: 650px;
    background-image: url(images/prod-ipadair-pad.png);
  }
  .a-product--airpodspro2,
  .a-product--card {
    display: none;
  }
  .a-product--airpods4 {
    display: block;
    background-image: url(images/prod-airpods4-pad.png);
    color: rgba(245, 245, 247, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 42px;
  }
  .a-product--watch {
    background-image: url(images/prod-watch-pad.png);
    padding-top: 46px;
  }
  .a-product--macbookair {
    background-image: url(images/prod-macbook-pad.png);
    padding-top: 42px;
  }
  .a-product--smallbusiness {
    display: block;
    background-image: url(images/prod-smallbusiness-pad.png);
    padding-top: 42px;
  }
  .a-product--carrierdeals {
    display: block;
    background-image: url(images/prod-carrierdeals-pad.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 42px;
  }
  .a-product--tradein {
    background-image: url(images/prod-tradein-pad.png);
    padding-top: 46px;
  }
  .a-product__title {
    font-weight: 700;
  }
  .a-product--ipadair .a-product__title {
    height: 39px;
    margin-bottom: 8px;
  }
  .a-product--airpods4 .a-product__title,
  .a-product--macbookair .a-product__title,
  .a-product--smallbusiness .a-product__title,
  .a-product--carrierdeals .a-product__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 4px;
  }
  .a-product--watch .a-product__title,
  .a-product--tradein .a-product__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 4px;
  }
  .a-product--watch .a-product__title::before,
  .a-product--tradein .a-product__title::before {
    height: 27px;
    aspect-ratio: 22/27;
  }
  .a-product--watch .a-product__midtitle {
    font-size: 13px;
    line-height: 16px;
  }
  .a-product--airpods4 .a-product__subtitle,
  .a-product--macbookair .a-product__subtitle,
  .a-product--smallbusiness .a-product__subtitle,
  .a-product--carrierdeals .a-product__subtitle,
  .a-product--tradein .a-product__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .a-product--ipadair .a-product__subtitle {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .a-product--watch .a-product__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
  }
  .a-product__buttons {
    gap: 12px;
  }
  .a-product--ipadair .a-product__buttons {
    gap: 16px;
  }
  .a-product--ipadair .a-product__buttons .btn {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    border-radius: 22px;
    letter-spacing: -0.37px;
  }
  .a-product__buttons .btn {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 8px 16px;
    border-radius: 18px;
  }
  .a-product--ipadair .a-product__aisub {
    font-size: 20px;
    line-height: 24px;
    margin-top: 367px;
  }
}
@media (max-width: 390px) {
  /* Apple Products */
  .a-products {
    padding: 0;
  }
  .a-product {
    width: 100%;
    height: 500px;
  }
  .a-product--ipadair {
    background-image: url(images/prod-ipadair-mob.png);
    padding-top: 36px;
    margin-bottom: 22px;
  }
  .a-product--airpods4 {
    background-image: url(images/prod-airpods4-mob.png);
    padding-bottom: 54px;
  }
  .a-product--watch {
    background-image: url(images/prod-watch-mob.png);
  }
  .a-product--macbookair {
    background-image: url(images/prod-macbook-mob.png);
  }
  .a-product--smallbusiness {
    background-image: url(images/prod-smallbusiness-mob.png);
    padding-top: 47px;
  }
  .a-product--carrierdeals {
    background-image: url(images/prod-carrierdeals-mob.png);
    padding-bottom: 47px;
  }
  .a-product--tradein {
    background-image: url(images/prod-tradein-mob.png);
    padding-top: 51px;
  }
  .a-product--ipadair .a-product__title {
    height: 41.86px;
  }
  .a-product--airpods4 .a-product__title {
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .a-product--ipadair .a-product__subtitle {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .a-product--airpods4 .a-product__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .a-product--watch .a-product__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
  }
  .a-product--macbookair .a-product__subtitle,
  .a-product--smallbusiness .a-product__subtitle,
  .a-product--carrierdeals .a-product__subtitle,
  .a-product--tradein .a-product__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .a-product--ipadair .a-product__buttons {
    gap: 12px;
  }
  .a-product--ipadair .a-product__buttons .btn {
    font-size: 14px;
    line-height: 20px;
    border-radius: 18px;
    padding: 8px 16px;
    letter-spacing: 0;
  }
  .a-product--ipadair .a-product__aisub {
    font-size: 14px;
    line-height: 18px;
    margin-top: 276.14px;
  }
}
/* a-tv scroll */
.atv-scroller {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  margin-top: 12px;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.atv-slide {
  width: 1250px;
  height: 668px;
  flex-shrink: 0;
  scroll-snap-align: center;
  position: relative;
  /* animation-name: slideLeft;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}
/* .atv-slide:hover > .atv-slide__text {
  opacity: 1;
} */
/* @keyframes slideLeft {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: 931px;
    top: 0;
  }
  50% {
    right: 2197px;
    top: 0;
  }
  75% {
    right: 3463px;
    top: 0;
  }
  100% {
    right: 4394px;
    top: 0;
  }
} */
.atv-slide__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.amov1 .atv-slide__img,
.amov2 .atv-slide__img,
.amov3 .atv-slide__img {
  aspect-ratio: 1250/668;
}
.amov4 .atv-slide__img,
.amov5 .atv-slide__img {
  aspect-ratio: 768/368;
}
.amov6,
.amov7,
.amov8,
.amov9,
.amov10 {
  display: none;
}
.amov1 img:nth-child(2),
.amov3 img:nth-child(2),
.amov4 img:nth-child(2) {
  display: none;
}
.atv-slide__text {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 58px;
  left: 70px;
  /* animation-name: slideUp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 0; */
}
/* @keyframes slideUp {
  0% {
    bottom: -58px;
  }
  100% {
    bottom: 58px;
  }
} */
.atv-slide__text .btn {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.37px;
  padding: 12px 20px;
  background-color: rgba(245, 245, 247, 1);
  color: rgba(0, 0, 0, 1);
  border-radius: 22px;
  border: none;
}
.atv-slide__text .btn:hover {
  background-color: rgb(255 255 255);
}
.atv-slide__text .genre {
  font-size: 17px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.atv-slide__text .genre span {
  font-weight: 700;
}
.atv-scroller + .dots-wrapper {
  display: flex;
  gap: 14px;
  margin: 12px 0;
  justify-content: center;
}
.dots-wrapper .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.42);
  transition: background-color 100ms linear;
}
.dot:hover {
  background-color: rgba(0, 0, 0, 0.54);
}
.dot:active {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
  /* a-tv scroll */
  .atv-slide {
    width: 689px;
    height: 368px;
  }
  .atv-slide__text {
    gap: 18px;
    bottom: 27px;
    left: 27px;
  }
  .atv-slide__text .btn {
    font-size: 14px;
    letter-spacing: 0;
    padding: 8px 14px;
    border-radius: 18px;
  }
  .atv-slide__text .genre {
    width: 401px;
  }
}
@media (max-width: 390px) {
  /* a-tv scroll */
  .atv-slide {
    width: 274px;
    height: 495px;
  }
  .amov2,
  .amov5 {
    display: none;
  }
  .amov6,
  .amov7,
  .amov8,
  .amov9,
  .amov10 {
    display: block;
  }
  .amov1 img:nth-child(1),
  .amov3 img:nth-child(1),
  .amov4 img:nth-child(1) {
    display: none;
  }
  .amov1 img:nth-child(2),
  .amov3 img:nth-child(2),
  .amov4 img:nth-child(2) {
    display: block;
  }
  .atv-slide__img-mob {
    aspect-ratio: 274/495;
  }
  .atv-slide__text {
    display: none;
  }
  .atv-scroller + .dots-wrapper {
    margin-top: 16px;
    margin-bottom: 26px;
  }
}
/* a-content scroll */
.acontent-scroller {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.acontent-slides {
  width: 3015px;
  display: flex;
  gap: 16px;
}
.acontent-slide {
  width: 417px;
  height: 236px;
  scroll-snap-align: center;
  position: relative;
  /* animation-name: contentslide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}
/* @keyframes contentslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */
.acontent-slide__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  aspect-ratio: 417/236;
  width: 100%;
  height: 100%;
}
.acont1,
.acont2,
.acont3,
.acont4,
.acont5 {
  aspect-ratio: 417/236;
}
.acont6,
.acont7 {
  aspect-ratio: 238/134;
}
.acontent-slide__title {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  width: 223.7px;
  position: absolute;
  bottom: 0;
}
.acont1 .acontent-slide__title {
  padding: 10px 15px;
}
.acont3 .acontent-slide__title,
.acont4 .acontent-slide__title,
.acont5 .acontent-slide__title,
.acont6 .acontent-slide__title,
.acont7 .acontent-slide__title {
  padding: 20px 15px;
}
.acont2 .acontent-slide__title {
  padding: 109px 0;
  padding-left: 226px;
}
.acontent-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(210, 210, 215, 1);
  border: none;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-self: end;
}
.acontent-button::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(images/acont-btn-icon.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  /* a-content scroll */
  .acontent-slides {
    width: 2098px;
  }
  .acontent-slide {
    width: 286px;
    height: 161px;
    margin-bottom: 33px;
  }
  .acont1 .acontent-slide__title,
  .acont2 .acontent-slide__title,
  .acont3 .acontent-slide__title,
  .acont4 .acontent-slide__title,
  .acont5 .acontent-slide__title,
  .acont6 .acontent-slide__title,
  .acont7 .acontent-slide__title {
    padding: 0;
  }
  .acontent-slide__title {
    position: absolute;
    color: rgba(29, 29, 31, 1);
    width: 100%;
    bottom: -33px;
  }
  .acontent-button {
    margin-bottom: 28px;
    margin-right: 18px;
  }
}
@media (max-width: 390px) {
  /* a-content scroll */
  .acontent-slides {
    width: 1502px;
  }
  .acontent-slides {
    gap: 6px;
  }
  .acontent-slide {
    width: 238px;
    height: 134px;
    margin-bottom: 26px;
  }
  .acontent-slide__title {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    bottom: -26px;
  }
  .acontent-button {
    margin: 16px;
  }
}
/* apple store page */
/* apple store page */
/* apple store page */
/* apple store page */
main.store {
  background-color: rgba(245, 245, 247, 1);
  min-height: 100vh;
}
/* banner */
.banner {
  padding: 4px 0;
}
/* blurred background */
.blurred-background {
  height: 75px;
  margin: 0 auto;
  background-image: url(images-store/blurred-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}
/* Store */
.store-container {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  margin-bottom: 80px;
  box-sizing: border-box;
}
.store__heading {
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
  color: rgba(110, 110, 115, 1);
}
.store-heading-span {
  background: linear-gradient(
    108deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin-right: 32px;
}
.store-question {
  display: flex;
  gap: 16px;
}
.store-question__img {
  width: 35px;
  height: 35px;
}
.store-question__text {
  font-size: 14px;
  line-height: 20px;
}
.store-question__text .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
  margin-bottom: 4px;
}
.store-question__text .content {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 102, 204, 1);
  text-decoration: none;
}
.store-question__text .content::after {
  content: "";
  width: 6px;
  height: 7.01px;
  background-image: url(images-store/storeQ-vector.svg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px;
}
.store-question__text .content:hover {
  text-decoration: underline solid;
  text-decoration-thickness: 0%;
}
.qbox1 {
  margin-bottom: 16px;
}
.qbox2 .store-question__img {
  opacity: 0;
}
/* product categories */
.product-categories-scroller {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 140px;
  margin-bottom: 60px;
}
.product-category {
  width: 136px;
  height: 146px;
  flex-shrink: 0;
  padding: 16px 8px;
  text-align: center;
  box-sizing: border-box;
}
.product-category .category__img {
  margin-bottom: 16px;
  aspect-ratio: 120/78;
}
.product-category .category__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
}
.product-category .category__title:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
/* The latest */
.latest-container {
  margin-bottom: 60px;
}
.container-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: rgba(110, 110, 115, 1);
  margin-bottom: 24px;
  padding-left: 140px;
  box-sizing: border-box;
}
.container-heading > span {
  background: linear-gradient(
    108deg,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1)
  );
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin-right: 4px;
}
.latest-cards-scroller {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 140px;
}
.latest-card {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.latest-card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.latest-card__img {
  border-radius: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 48/50;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.latest-card__text {
  position: absolute;
  top: 30px;
  left: 30px;
  color: rgba(29, 29, 31, 1);
}
.watch-series10 .latest-card__text {
  top: 54px;
}
.l-card-t__addinfo {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: rgba(182, 68, 0, 1);
  margin-bottom: 9px;
}
.l-card-t__addinfo > span {
  font-size: 8px;
  line-height: 10px;
  vertical-align: top;
}
.l-card-t__name {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  font-weight: 700;
  margin-bottom: 12px;
}
.l-card-t__price {
  font-size: 18px;
  line-height: 20px;
}
/* Personalization */
.personalization-container {
  margin-bottom: 60px;
}
.personalization-cards-scroller {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 140px;
  color: rgba(29, 29, 31, 1);
}
.personalization-card1st {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.personalization-card1st:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.personalization-card1st__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 18px;
  width: 100%;
  height: 100%;
}
.personalization-card1st__slogan {
  position: absolute;
  top: 53px;
  left: 30px;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
.personalization-card {
  width: 313px;
  height: 500px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  padding: 0 28px;
  padding-top: 71px;
  padding-bottom: 32px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.personalization-card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.personalization-card__imgbox {
  width: 230px;
  height: 230px;
  margin: 0 13.5px;
  margin-bottom: 58px;
  box-sizing: border-box;
  position: relative;
}
.personalization-card__imgbox > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 23/23;
}
.airpods-max .personalization-card__imgbox {
  margin-bottom: 0;
}
.personalization-card__colorbox {
  display: flex;
  gap: 7px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 21px;
  box-sizing: border-box;
}
.personalization-card__colorbox .color {
  aspect-ratio: 12/12;
}
.p-card-t__addinfo {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(182, 68, 0, 1);
  margin-bottom: 6px;
}
.p-card-t__name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 52px;
}
.airpods-4 .p-card-t__name {
  margin-bottom: 32px;
}
.p-card-t__price {
  font-size: 14px;
  line-height: 16px;
}
/* Holiday Picks */
.holiday-container {
  margin-bottom: 60px;
}
.holiday-cards-scroller {
  display: flex;
  gap: 20px;
  padding-left: 140px;
  overflow-x: scroll;
  overflow-y: hidden;
  color: rgba(29, 29, 31, 1);
  box-sizing: border-box;
}
.holiday-card1st {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.holiday-card1st:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.holiday-card1st__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 4/5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.holiday-card1st__slogan {
  position: absolute;
  top: 54px;
  left: 30px;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
.holiday-card {
  width: 313px;
  height: 500px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  padding: 0 28px;
  padding-top: 71px;
  padding-bottom: 32px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.holiday-card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.holiday-card__imgbox {
  width: 230px;
  height: 230px;
  margin: 0 13.5px;
  box-sizing: border-box;
  position: relative;
}
.holiday-card__imgbox > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  aspect-ratio: 23/23;
  width: 100%;
  height: 100%;
}
.holiday-card__colorbox {
  display: flex;
  gap: 7px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 21px;
  box-sizing: border-box;
}
.holiday-card__colorbox .color {
  aspect-ratio: 12/12;
  width: 12px;
  height: 12px;
}
.h-card-t__addinfo {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(182, 68, 0, 1);
  margin-bottom: 6px;
}
.homepod-mini .holiday-card__text,
.smart-folio .holiday-card__text {
  margin-top: 21px;
}
.h-card-t__name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 32px;
}
.homepod-mini .h-card-t__name {
  margin-bottom: 52px;
}
.wireless-headphones .h-card-t__name {
  margin-bottom: 12px;
}
.h-card-t__price {
  font-size: 14px;
  line-height: 16px;
}
/* Only at Apple */
.onlyapple-container {
  margin-bottom: 60px;
}
.onlyapple-cards-scroller {
  display: flex;
  gap: 20px;
  padding-left: 140px;
  overflow-x: scroll;
  overflow-y: hidden;
  color: rgba(29, 29, 31, 1);
  box-sizing: border-box;
}
.onlyapple-card {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.onlyapple-card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.onlyapple-card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 48/50;
  object-fit: cover;
  border-radius: 18px;
  width: 100%;
  height: 100%;
}
.onlyapple-card__text {
  font-weight: 700;
  position: absolute;
  top: 50px;
  left: 30px;
}
.trade-in .onlyapple-card__text,
.specialist .onlyapple-card__text {
  top: 31px;
}
.o-card-t__title {
  font-size: 12px;
  line-height: 14px;
  color: rgba(110, 110, 115, 1);
  margin-bottom: 9px;
}
.o-card-t__description {
  font-size: 26px;
  line-height: 32px;
}
.onlyapple-card2nd {
  width: 646px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-shrink: 0;
}
.onlyapple-card2nd__in-box {
  width: calc(50% - 10px);
  height: 240px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.onlyapple-card2nd__in-box:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.onlyapple-card2nd__in-box--customize,
.onlyapple-card2nd__in-box--free-returns {
  padding-top: 82px;
}
.onlyapple-card2nd__in-box--pay-full,
.onlyapple-card2nd__in-box--engrave {
  padding-top: 68px;
}
/* The Apple Experience */
.experience-container {
  margin-bottom: 60px;
}
.experience-cards-scroller {
  display: flex;
  padding-left: 140px;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
}
.experience-card {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.experience-card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.experience-card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 48/50;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.experience-card__text {
  position: absolute;
  color: rgba(29, 29, 31, 1);
  top: 32px;
  left: 30px;
}
.services-subscription .experience-card__text {
  top: 52px;
}
.e-card-t__title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(110, 110, 115, 1);
  margin-bottom: 8px;
}
.free-tv .e-card-t__title {
  color: rgba(245, 245, 247, 1);
}
.e-card-t__description {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.free-tv .e-card-t__description {
  color: rgba(255, 255, 255, 1);
}
.free-tv .e-card-t__description::after {
  content: "++";
  font-size: 16.8px;
  line-height: 19.2px;
  vertical-align: super;
  margin-left: -5px;
}
.e-card-t__addinfo {
  font-size: 17px;
  line-height: 20px;
}
/* Special Savings */
.savings-container {
  margin-bottom: 60px;
}
.savings-cards-scroller {
  display: flex;
  gap: 20px;
  padding-left: 140px;
  overflow-x: scroll;
  overflow-y: hidden;
  color: rgba(29, 29, 31, 1);
  box-sizing: border-box;
}
.savings-card {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.savings-card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}
.savings-card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 4/5;
  border-radius: 18px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.savings-card__text {
  position: absolute;
  top: 31px;
  left: 30px;
}
.s-card-t__title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(110, 110, 115, 1);
  margin-bottom: 7px;
}
.business .s-card-t__title {
  color: rgba(134, 134, 139, 1);
}
.s-card-t__description {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.business .s-card-t__description {
  color: rgba(255, 255, 255, 1);
}
.s-card-t__addinfo {
  font-size: 17px;
  line-height: 20px;
}
/* Quick Links */
.links-container {
  padding-left: 140px;
  color: rgba(29, 29, 31, 1);
  padding-bottom: 100px;
  box-sizing: border-box;
}
.links__heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  box-sizing: border-box;
}
.links__buttons {
  display: flex;
  gap: 12px;
}
.links__buttons .btn {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(29, 29, 31, 1);
  border-radius: 20px;
  text-decoration: none;
  background-color: transparent;
  color: rgba(29, 29, 31, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}
.links__buttons .btn::after {
  content: "";
  width: 8px;
  height: 8px;
  background-image: url(images-store/links-vector-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.links__buttons .btn:hover {
  background-color: rgb(39 39 41);
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
